@model Application.Payments.Models.PaymentModel;



<div class="row">
    @*<input type="hidden" class="form-control" name="parkingId" value="@Model.Parking?.Id">*@
    <div class="col-8">
        <img src="~/images/borika.jpg" asp-append-version="true">
    </div>
    <div class="col-3">
        <div style="margin-top:20px">
            <label>Period From: @Model.RentFrom.ToShortDateString()</label><br />
            <label>Period To: @Model.RentTo.ToShortDateString()</label><br />
            <label>City: @Model.City</label><br />
            <label>Parking:@Model.ParkingName</label><br />
            <label>Address: @Model.Address</label><br />
        </div>
        <input type="submit" class="btn btn-primary" value="Pay" style="margin-top:20px" />
    </div>
</div>

<style>
    img {
        width: 100%;
        height: auto;
    }
</style>