@using Application.Payments.Models
@model Application.ParkingPlaces.Models.ParkingPlaceDtoListModel

<div class="text-center">
    <h1 class="display-4">@Model.Parking?.City.Name</h1>
    <h2 class="display-4">@Model.Parking?.Name</h2>
    @if (Model.ParkingPlaces != null && Model.ParkingPlaces.Count > 0)
    {
        <h3>@Model.ParkingPlaces.Where(x => x.IsFree).Count() Free parking places</h3>
    }
    else
    {
        <h3 class="alert-danger">Not have available parking places in this city</h3>
    }
    <br />
</div>

<form asp-controller="Home" asp-action="GetAllParkingPlacesByParkingId" method="get">

    <div class="row pb-5">
        <input type="hidden" class="form-control" name="parkingId" value="@Model.Parking?.Id">
        <div class="col-4">
            <label>From</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" name="from" value="@Model.From.ToShortDateString()">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <label>To</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" name="to" value="@Model.To.ToShortDateString()">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <input type="submit" class="btn btn-primary" value="Search" />
            @*<a href="#" class="btn btn-primary">Search </a>*@
        </div>
    </div>
</form>



<div class="row">
    @if (Model.ParkingPlaces != null)
    {
        @foreach (var item in Model.ParkingPlaces)
        {
            var backgroundStyle = item.IsFree ? "btn-success" : "btn-danger";

            <div class="col-6 " style="width: 18rem; margin-bottom: 25px;">
                <div class="card">
                    @*<img class="card-img-top" src="..." alt="Card image cap">*@
                    <div class="card-body">
                        <h5 class="card-title">Place number @item.Number</h5>
                        @if (!item.IsFree)
                        {
                            <h6 class="card-text">Rent To: ToDo</h6>
                        }
                        else
                        {
                            <h6 class="card-text">Rent To: N/A</h6>
                        }
                        @{ 
                            var paymentModel = new PaymentModel
                            {
                                ParkingId = Model.Parking.Id,
                                Address = Model.Parking.Address,
                                Amount = 35,
                                City = Model.Parking.City.Name,
                                ParkingName = Model.Parking.Name,
                                ParkingNumber = item.Number,
                                RentFrom = Model.From,
                                RentTo = Model.To,
                                ParkingPlaceId = item.Id
                            };
                        }
                          <a href="@Url.Action("Index", "Payment", paymentModel)" class="btn @backgroundStyle" style="margin-top:20px">Book your parking place</a>
                      
                    </div>
                </div>
            </div>
        }
    }

</div>

