@using Application.Payments.Models
@using Microsoft.AspNetCore.Identity
@using Application.ParkingPlaces.Models

@using Microsoft.AspNetCore.Mvc
@using Infrastructure.Enums
@model Application.ParkingPlaces.Models.ParkingPlaceDtoListModel

@{
    var createPaymentSuccess = Context.Request.Query["createPayment"];
    var controllerName = User.IsInRole(nameof(IdentityRoleEnum.Admin)) ? "Admin" : "Home";
}


<input type="hidden" id="payment-success" value="@createPaymentSuccess" />

<div class="row info">
    <div class="col">
    
        <partial name="_EditParkingForm" model="Model.Parking">

            <label>available:</label>
            @if (Model.ParkingPlaces != null && Model.ParkingPlaces.Count > 0)
            {
                <h4> @Model.ParkingPlaces.Where(x => x.IsFree).Count() Free parking places</h4>
            }
            else
            {
                <h4 class="alert-danger">Not have available parking places in this city</h4>
            }

</div>
</div>

<button id="modal-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" hidden>
    Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                You made successfully booking parking place!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<form asp-controller="Admin" asp-action="GetAllParkingPlacesByParkingId" method="get">

    <div class="row pb-5">
        <input type="hidden" class="form-control" name="parkingId" value="@Model.Parking?.Id">
        <div class="col-4">
            <label>From</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" name="from" value="@Model.From.ToShortDateString()">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <label>To</label>
            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control" name="to" value="@Model.To.ToShortDateString()">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <input type="submit" class="search-button btn btn-primary" value="Search" />
            @*<a href="#" class="btn btn-primary">Search </a>*@
        </div>
    </div>
</form>



<div class="row">
    @if (Model.ParkingPlaces != null)
    {
        @foreach (var item in Model.ParkingPlaces)
        {
            var backgroundStyle = item.IsFree ? "btn-success" : "btn-danger";

            <div class="col-6 " style="width: 18rem; margin-bottom: 25px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form asp-controller="Admin" asp-action="EditParkingPlace" method="post" class="form">

                                    <input type="hidden" name="id" value="@item.Id">
                                    <input type="hidden" name="parkingId" value="@Model.Parking.Id">
                                    <div class="row">
                                        <div class="col-4">
                                            <label>Number:</label>
                                            <input type="number" class="form-control " name="number" value="@item.Number">
                                        </div>
                                        <div class="col action">
                                            <button type="submit" class="btn btn-link">Edit</button>
                                            <button href="@Url.Action("Admin", "Payment","")" class="btn btn-link">Delete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        @if (!item.IsFree)
                        {
                            <h5 class="card-text">This parking place is not free From @Model.From.ToShortDateString() To @Model.To.ToShortDateString()</h5>
                        }
                        else
                        {
                            <h5 class="card-text">This parking place is availavale for booking</h5>
                        }
                        @{
                            var amount = ((Model.To.DayOfYear - Model.From.DayOfYear) + 1) * Model.Parking.PricePerParkingPlace;
                            var paymentModel = new PaymentModel
                            {
                                ParkingId = Model.Parking.Id,
                                Address = Model.Parking.Address,
                                Amount = amount,
                                City = Model.Parking.City.Name,
                                ParkingName = Model.Parking.Name,
                                ParkingNumber = item.Number,
                                RentFrom = Model.From,
                                RentTo = Model.To,
                                ParkingPlaceId = item.Id
                            };

                            var bookButtonUrl = item.IsFree ? Url.Action("Index", "Payment", paymentModel) : "";
                        }

                        @if (item.IsFree)
                        {
                            <a href="@Url.Action("Index", "Payment", paymentModel)" class="book-button btn @backgroundStyle">Book your parking place</a>

                        }
                        else
                        {
                            <button class="book-button btn @backgroundStyle" disabled>This place is Not free</button>
                        }


                        @*@if (!item.IsDeleted)
        {
            <a href="@Url.Action("Admin", "Payment", paymentModel)" class="book-button btn btn-secondary">Deactivate</a>
        }
        else
        {
            <a href="@Url.Action("Admin", "Payment", paymentModel)" class="book-button btn btn-danger">Activate</a>
        }*@
                    </div>
                </div>
            </div>
        }
    }

</div>

<script>
    let isSuccesseee = $("#payment-success").val();
    let isSuccess = $("#payment-success").val() === "success";

    $(document).ready(function () {
        if (isSuccess) {
            $("#modal-button").click();
        }
    });
</script>


<style>
    .search-button {
        margin-top: 25px;
    }

    .book-button {
        margin-top: 20px
    }

    .modal-dialog {
        position: unset;
    }

    .modal-content {
        background-color: lightgreen;
    }

    .info {
        margin-bottom: 25px;
    }

    h4 {
        margin-top: 0px !important;
    }

    a {
        margin: 5px;
    }

    .action {
        text-align: end;
    }

  
</style>

